@{
    ViewData["Title"] = "Home Page";
}


<div class="hero-banner">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-7 col-lg-9 col-md-10">
				<div class="hero-banner-content">
					<h2>FUNDRAISING MADE EASY</h2>
					<a href="signup.html" class="main-btn btn-hover mt-3">
						Create Campaign<i class="fa-solid fa-arrow-right ms-3"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
		<div class="explore-events p-80">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="main-title">
							<h3>Explore Campaigns</h3>
						</div>
					</div>
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="event-filter-items">
							<div class="featured-controls">
								<div class="row" data-ref="event-filter-content">
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mix arts concert workshops volunteer sports health_Wellness" data-ref="mixitup-target">
										<div class="main-card mt-4">
											<div class="event-thumbnail">
												<img class="lazy" src="images/img1.jpeg" data-src="https://res.cloudinary.com/ezfundrazr/image/upload/c_scale,f_auto/v1667357638/miheqstfqcdujhecze9y.jpg" alt="">


											</div>
											<div class="event-content">
												<a href="gw-carver-high-school-boys-basketball-team.html" class="event-title">Help The Flood Victim </a>
												<div class="camp-detail">
													<p>We are currently running a fundraiser to help raise money and to ensure we help the flood victim. Our goal for this year is to raise $10,000.00. ...</p>
												</div>
												<div class="progress mb-2">
													<div class="progress-bar bg-success" role="progressbar" style="width: 3.600%" aria-valuenow="3.600" aria-valuemin="0" aria-valuemax="100">
													</div>
												</div>
												<div class="duration-price-remaining">
													<span class="duration-price">Raised $360</span>
													<span class="remaining">Target $10,000</span>
												</div>
											</div>
											<div class="booking-btn pb-1">
												<a href="DonateNow.html" class="main-btn btn-hover w-100">Donate Now</a>
											</div>
											<div class="event-footer">
												<a href="sports.html" class="text-black text-black text-decoration-underline">
													<i class="fa fa-tag"></i> Food
												</a>
												<div class="event-timing mt-2">
													<div class="align-items-baseline d-flex event-dt-right-content ms-0">
														<div class="event-dt-right-icon">
															<i class="fa-solid fa-circle-user"></i>
														</div>
														<div class="align-items-baseline d-flex flex-wrap event-dt-right-content ms-0">
															<a href="g.w.html" class="ms-2 mt-0">Edhi Foundation</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mix arts concert workshops volunteer sports health_Wellness" data-ref="mixitup-target">
										<div class="main-card mt-4">
											<div class="event-thumbnail">
												<img class="lazy" src="images/img2.jpeg" data-src="https://res.cloudinary.com/ezfundrazr/image/upload/c_scale,f_auto/v1667357638/miheqstfqcdujhecze9y.jpg" alt="">
											</div>
											<div class="event-content">
												<a href="health-physical-ed.html" class="event-title">Medical Camp For Flood victims</a>
												<div class="camp-detail">
													<p>We are currently running a fundraiser to help raise money and to ensure that the needy people will have what they need in this situation. Our goal for this month is to raise $20,000.00. Please take 5 minutes and donate whatever you can ...</p>
												</div>
												<div class="progress mb-2">
													<div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
													</div>
												</div>
												<div class="duration-price-remaining">
													<span class="duration-price">Raised $0</span>
													<span class="remaining">Target $20,000</span>
												</div>
											</div>
											<div class="booking-btn pb-1">
												<a href="DonateNow.html" class="main-btn btn-hover w-100">Donate Now</a>
											</div>
											<div class="event-footer">
												<a href="medical%20&amp;%20health.html" class="text-black text-black text-decoration-underline">
													<i class="fa fa-tag"></i> Medical &amp; Health
												</a>
												<div class="event-timing mt-2">
													<div class="align-items-baseline d-flex event-dt-right-content ms-0">
														<div class="event-dt-right-icon">
															<i class="fa-solid fa-circle-user"></i>
														</div>
														<div class="align-items-baseline d-flex flex-wrap event-dt-right-content ms-0">
															<a href="st.html" class="ms-2 mt-0">Shoukat Khanam </a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mix arts concert workshops volunteer sports health_Wellness" data-ref="mixitup-target">
										<div class="main-card mt-4">
											<div class="event-thumbnail">
												<img class="lazy" src="images/img3.jpeg" data-src="https://res.cloudinary.com/ezfundrazr/image/upload/c_scale,f_auto/v1667357638/miheqstfqcdujhecze9y.jpg" alt="">
											</div>
											<div class="event-content">
												<a href="liberty-magnet-baseball-team-fundraiser.html" class="event-title">Akhuwat Foundation</a>
												<div class="camp-detail">
													<p>We are currently running a fundraiser to help raise money and to ensure we have a successful season. Our goal for this year is to raise $20,000. ...</p>
												</div>
												<div class="progress mb-2">
													<div class="progress-bar bg-success" role="progressbar" style="width: 2.458300%" aria-valuenow="2.458300" aria-valuemin="0" aria-valuemax="100">
													</div>
												</div>
												<div class="duration-price-remaining">
													<span class="duration-price">Raised $492</span>
													<span class="remaining">Target $20,000</span>
												</div>
											</div>
											<div class="booking-btn pb-1">
												<a href="DonateNow.html" class="main-btn btn-hover w-100">Donate Now</a>
											</div>
											<div class="event-footer">
												<a href="sports.html" class="text-black text-black text-decoration-underline">
													<i class="fa fa-tag"></i> Food
												</a>
												<div class="event-timing mt-2">
													<div class="align-items-baseline d-flex event-dt-right-content ms-0">
														<div class="event-dt-right-icon">
															<i class="fa-solid fa-circle-user"></i>
														</div>
														<div class="align-items-baseline d-flex flex-wrap event-dt-right-content ms-0">
															<a href="liberty-baseball.html" class="ms-2 mt-0">Chipa Foundation</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mix arts concert workshops volunteer sports health_Wellness" data-ref="mixitup-target">
										<div class="main-card mt-4">
											<div class="event-thumbnail">
												<img class="lazy" src="images/img4.jpeg" data-src="https://res.cloudinary.com/ezfundrazr/image/upload/c_scale,f_auto/v1667357638/miheqstfqcdujhecze9y.jpg" alt="">
											</div>
											<div class="event-content">
												<a href="southern-lab-boys-basketball-2022-23-roster.html" class="event-title">Help to Build the Cancer Hospital</a>
												<div class="camp-detail">
													<p>We are currently running a fundraiser to help raise money and to ensure we build a world class cancer hospital for the patients. Our goal for this year is to raise $10,000.00 ...</p>
												</div>
												<div class="progress mb-2">
													<div class="progress-bar bg-success" role="progressbar" style="width: 63.4500%" aria-valuenow="63.4500" aria-valuemin="0" aria-valuemax="100">
													</div>
												</div>
												<div class="duration-price-remaining">
													<span class="duration-price">Raised $6,345</span>
													<span class="remaining">Target $10,000</span>
												</div>
											</div>
											<div class="booking-btn pb-1">
												<a href="DonateNow.html" class="main-btn btn-hover w-100">Donate Now</a>
											</div>
											<div class="event-footer">
												<a href="sports.html" class="text-black text-black text-decoration-underline">
													<i class="fa fa-tag"></i> Infrastructure
												</a>
												<div class="event-timing mt-2">
													<div class="align-items-baseline d-flex event-dt-right-content ms-0">
														<div class="event-dt-right-icon">
															<i class="fa-solid fa-circle-user"></i>
														</div>
														<div class="align-items-baseline d-flex flex-wrap event-dt-right-content ms-0">
															<a href="southern-lab-basketball.html" class="ms-2 mt-0">Shoukat Khanam</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mix arts concert workshops volunteer sports health_Wellness" data-ref="mixitup-target">
										<div class="main-card mt-4">
											<div class="event-thumbnail">
												<img class="lazy" src="images/img5.jpeg" data-src="https://res.cloudinary.com/ezfundrazr/image/upload/c_scale,f_auto/v1667357638/miheqstfqcdujhecze9y.jpg" alt="">
											</div>
											<div class="event-content">
												<a href="camden-fairview-high-school-girls-basketball-fundraiser.html" class="event-title">Ehsas Daster Khwan</a>
												<div class="camp-detail">
													<p>We are currently running a fundraiser to help raise money and to ensure we have a successful season. Our goal for this year is to raise $5000. ...</p>
												</div>
												<div class="progress mb-2">
													<div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
													</div>
												</div>
												<div class="duration-price-remaining">
													<span class="duration-price">Raised $0</span>
													<span class="remaining">Target $5,000</span>
												</div>
											</div>
											<div class="booking-btn pb-1">
												<a href="DonateNow.html" class="main-btn btn-hover w-100">Donate Now</a>
											</div>
											<div class="event-footer">
												<a href="sports.html" class="text-black text-black text-decoration-underline">
													<i class="fa fa-tag"></i> Sports
												</a>
												<div class="event-timing mt-2">
													<div class="align-items-baseline d-flex event-dt-right-content ms-0">
														<div class="event-dt-right-icon">
															<i class="fa-solid fa-circle-user"></i>
														</div>
														<div class="align-items-baseline d-flex flex-wrap event-dt-right-content ms-0">
															<a href="camden-fairview-high-school.html" class="ms-2 mt-0">Chipa Foundation</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mix arts concert workshops volunteer sports health_Wellness" data-ref="mixitup-target">
										<div class="main-card mt-4">
											<div class="event-thumbnail">
												<img class="lazy" src="images/img4.jpeg" data-src="https://res.cloudinary.com/ezfundrazr/image/upload/c_scale,f_auto/v1667357638/miheqstfqcdujhecze9y.jpg" alt="">
											</div>
											<div class="event-content">
												<a href="southern-laboratory-school-football-fundraiser.html" class="event-title">Cancer Hospital </a>
												<div class="camp-detail">
													<p>We are currently running a fundraiser to help raise money and to ensure we have a successful season. Our goal for this year is to raise $30,000.00. ...</p>
												</div>
												<div class="progress mb-2">
													<div class="progress-bar bg-success" role="progressbar" style="width: 19.591666666666666666666666670%" aria-valuenow="19.591666666666666666666666670" aria-valuemin="0" aria-valuemax="100">
													</div>
												</div>
												<div class="duration-price-remaining">
													<span class="duration-price">Raised $5,878</span>
													<span class="remaining">Target $30,000</span>
												</div>
											</div>
											<div class="booking-btn pb-1">
												<a href="DonateNow.html" class="main-btn btn-hover w-100">Donate Now</a>
											</div>
											<div class="event-footer">
												<a href="sports.html" class="text-black text-black text-decoration-underline">
													<i class="fa fa-tag"></i> Infrastructure
												</a>
												<div class="event-timing mt-2">
													<div class="align-items-baseline d-flex event-dt-right-content ms-0">
														<div class="event-dt-right-icon">
															<i class="fa-solid fa-circle-user"></i>
														</div>
														<div class="align-items-baseline d-flex flex-wrap event-dt-right-content ms-0">
															<a href="southern-laboratory-school.html" class="ms-2 mt-0">Shoukat Khanam</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mix arts concert workshops volunteer sports health_Wellness" data-ref="mixitup-target">
										<div class="main-card mt-4">
											<div class="event-thumbnail">
												<img class="lazy" src="images/img3.jpeg" data-src="https://res.cloudinary.com/ezfundrazr/image/upload/c_scale,f_auto/v1667357638/miheqstfqcdujhecze9y.jpg" alt="">
											</div>
											<div class="event-content">
												<a href="glen-oaks-magnet-high-school-baseball-team.html" class="event-title">Help Flood Victims</a>
												<div class="camp-detail">
													<p>We are currently running a fundraiser to help raise money and to ensure we have a successful season. Our goal for this year is to raise $5,000. ...</p>
												</div>
												<div class="progress mb-2">
													<div class="progress-bar bg-success" role="progressbar" style="width: 5.400%" aria-valuenow="5.400" aria-valuemin="0" aria-valuemax="100">
													</div>
												</div>
												<div class="duration-price-remaining">
													<span class="duration-price">Raised $270</span>
													<span class="remaining">Target $5,000</span>
												</div>
											</div>
											<div class="booking-btn pb-1">
												<a href="DonateNow.html" class="main-btn btn-hover w-100">Donate Now</a>
											</div>
											<div class="event-footer">
												<a href="sports.html" class="text-black text-black text-decoration-underline">
													<i class="fa fa-tag"></i> Food
												</a>
												<div class="event-timing mt-2">
													<div class="align-items-baseline d-flex event-dt-right-content ms-0">
														<div class="event-dt-right-icon">
															<i class="fa-solid fa-circle-user"></i>
														</div>
														<div class="align-items-baseline d-flex flex-wrap event-dt-right-content ms-0">
															<a href="glen-oaks-high-school.html" class="ms-2 mt-0">JDC Foundation</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mix arts concert workshops volunteer sports health_Wellness" data-ref="mixitup-target">
										<div class="main-card mt-4">
											<div class="event-thumbnail">
												<img class="lazy" src="images/img1.jpeg" data-src="https://res.cloudinary.com/ezfundrazr/image/upload/c_scale,f_auto/v1667357638/miheqstfqcdujhecze9y.jpg" alt="">
											</div>
											<div class="event-content">
												<a href="liberty-magnet-basketball-team-fundraiser.html" class="event-title">Save Life Help victims</a>
												<div class="camp-detail">
													<p>We are currently running a fundraiser to help raise money and to ensure we have a successful season. Our goal for this year is to raise $50,000.00. ...</p>
												</div>
												<div class="progress mb-2">
													<div class="progress-bar bg-success" role="progressbar" style="width: 13.03200%" aria-valuenow="13.03200" aria-valuemin="0" aria-valuemax="100">
													</div>
												</div>
												<div class="duration-price-remaining">
													<span class="duration-price">Raised $6,516</span>
													<span class="remaining">Target $50,000</span>
												</div>
											</div>
											<div class="booking-btn pb-1">
												<a href="DonateNow.html" class="main-btn btn-hover w-100">Donate Now</a>
											</div>
											<div class="event-footer">
												<a href="sports.html" class="text-black text-black text-decoration-underline">
													<i class="fa fa-tag"></i> Health
												</a>
												<div class="event-timing mt-2">
													<div class="align-items-baseline d-flex event-dt-right-content ms-0">
														<div class="event-dt-right-icon">
															<i class="fa-solid fa-circle-user"></i>
														</div>
														<div class="align-items-baseline d-flex flex-wrap event-dt-right-content ms-0">
															<a href="liberty-magnet.html" class="ms-2 mt-0">Wali Khan Trust</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="browse-btn">
									<a href="All.html" class="main-btn btn-hover ">Browse All</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="host-step-block p-80">
			<div class="container">
				<div class="row">
					<div class="col-lg-10">
						<div class="main-title mb-5">
							<h3>Fundraising on Quick Funding<br>Takes Just a Few Minutes</h3>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="easy-steps-tab">
							<div class="nav step-tabs" role="tablist">
								<button class="step-link active" data-bs-toggle="tab" data-bs-target="#step-01" type="button" role="tab" aria-controls="step-01" aria-selected="true">
									Step 01
									<span>Sign Up For Free</span>
								</button>
								<button class="step-link" data-bs-toggle="tab" data-bs-target="#step-02" type="button" role="tab" aria-controls="step-02" aria-selected="false">
									Step 02<span>
										Create Your
										Campaign
									</span>
								</button>
								<button class="step-link" data-bs-toggle="tab" data-bs-target="#step-03" type="button" role="tab" aria-controls="step-03" aria-selected="false">
									Step 03<span>
										Share with friends and
										family
									</span>
								</button>
								<button class="step-link" data-bs-toggle="tab" data-bs-target="#step-04" type="button" role="tab" aria-controls="step-04" aria-selected="false">
									Step 04<span>
										Get
										Paid
									</span>
								</button>
							</div>
							<div class="tab-content">
								<div class="tab-pane fade show active" id="step-01" role="tabpanel">
									<div class="row">
										<div class="col-lg-12 col-md-12">
											<div class="step-text">Sign up for free and complete your profile.</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<div class="step-item">
												<div class="step-icon">
													<img src="images/icons-step-icon-1.png" alt="">
												</div>
												<h4>Sign up for free</h4>
												<p>
													Sign up easily using your Google or Facebook account or email and create your
													campaigns in minutes.
												</p>
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<div class="step-item">
												<div class="step-icon">
													<img src="images/icons-step-icon-2.png" alt="">
												</div>
												<h4>Complete your organizer profile</h4>
												<p>Add logo, address, contact details, social media links etc.</p>
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<div class="step-item">
												<div class="step-icon">
													<img src="images/icons-step-icon-3.png" alt="">
												</div>
												<h4>Customise your profile page as you like</h4>
												<p>
													Control everything you want to show on your profile page for the public. You
													can manage all options from your profile settings.
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="step-02" role="tabpanel">
									<div class="row">
										<div class="col-lg-12 col-md-12">
											<div class="step-text">
												Use our user friendly dashboard to create your campaign in
												few steps.
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<div class="step-item">
												<div class="step-icon">
													<img src="images/icons-step-icon-3.png" alt="">
												</div>
												<h4>Quickly setup your campaign.</h4>
												<p>
													Add name, detailed description, short description, target amount for you
													campaign etc.
												</p>
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<div class="step-item">
												<div class="step-icon">
													<img src="images/icons-step-icon-11.png" alt="">
												</div>
												<h4>Save and request for approval</h4>
												<p>
													Review all your details and submit your campaign for approval from Quick Funding
													dashboard and wait for approval. It takes few minutes to get approval!
												</p>
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<div class="step-item">
												<div class="step-icon">
													<img src="images/icons-step-icon-4.png" alt="">
												</div>
												<h4>Publish your campaign</h4>
												<p>
													Once your campaign gets approval from Quick Funding, you can publish your
													campaign online.
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="step-03" role="tabpanel">
									<div class="row">
										<div class="col-lg-12 col-md-12">
											<div class="step-text">
												Use different available marketing and sharing options to make
												your campaign reach to more audience.
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<div class="step-item">
												<div class="step-icon">
													<img src="images/icons-step-icon-7.png" alt="">
												</div>
												<h4>Share on social media</h4>
												<p>
													Copy campaign link or share on different social media accounts from
													Quick Funding dashboard.
												</p>
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<div class="step-item">
												<div class="step-icon">
													<img src="images/icons-step-icon-9.png" alt="">
												</div>
												<h4>Add widget on different websites</h4>
												<p>
													If you want to show campaign widget on different websites, we provide you a
													widget code that you need to copy and paste on target website. It will show
													an iframe of the campaign on that website.
												</p>
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<div class="step-item">
												<div class="step-icon">
													<img src="images/icons-step-icon-9.png" alt="">
												</div>
												<h4>Add donate now button on other platforms</h4>
												<p>
													We also provide you a quick "Donate Now" button widget to use on any social
													media or external websites to collect donations for your campaign.
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="step-04" role="tabpanel">
									<div class="row">
										<div class="col-lg-12 col-md-12">
											<div class="step-text">Add your bank details and request payout anytime!</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<div class="step-item">
												<div class="step-icon">
													<img src="images/icons-step-icon-6.png" alt="">
												</div>
												<h4>Add bank details in payout section</h4>
												<p>Add your bank details from the payout section.</p>
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<div class="step-item">
												<div class="step-icon">
													<img src="images/icons-step-icon-6.png" alt="">
												</div>
												<h4>Request a payout</h4>
												<p>
													After adding your bank details, you can request a payout. It takes few hours
													to get your payout in your account.
												</p>
											</div>
										</div>
										<div class="col-lg-4 col-md-6">
											<div class="step-item">
												<div class="step-icon">
													<img src="images/icons-step-icon-12.png" alt="">
												</div>
												<h4>Get support like nowhere else</h4>
												<p>
													Our dedicated on-boarding coach will assist you in becoming an expert in no
													time.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="feature-block p-80">
			<div class="container">
				<div class="row">
					<div class="col-lg-10">
						<div class="main-title">
							<h3>Causes Quick Funding Supports</h3>
							<p>
								There&rsquo;s a part of every one of us that dreams of a better world. That spark of
								inspiration to help a person, fix a neighborhood, or even change a nation.
							</p>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="feature-group-list">
							<div class="row">
								<div class="col-xl-3 col-lg-4 col-md-6">
									<div class="feature-item mt-46">
										<div class="feature-icon">
											<i class="fa-solid fa-football fa-2x"></i>
										</div>
										<h4>Sports</h4>
										<p></p>
									</div>
								</div>
								<div class="col-xl-3 col-lg-4 col-md-6">
									<div class="feature-item mt-46">
										<div class="feature-icon">
											<i class="fa-solid fa-graduation-cap fa-2x"></i>
										</div>
										<h4>Education</h4>
										<p></p>
									</div>
								</div>
								<div class="col-xl-3 col-lg-4 col-md-6">
									<div class="feature-item mt-46">
										<div class="feature-icon">
											<i class="fa-solid fa-circle-nodes fa-2x"></i>
										</div>
										<h4>Clubs &amp; Community</h4>
										<p></p>
									</div>
								</div>
								<div class="col-xl-3 col-lg-4 col-md-6">
									<div class="feature-item mt-46">
										<div class="feature-icon">
											<i class="fa-solid fa-person-walking fa-2x"></i>
										</div>
										<h4>Run/Walk/Rides</h4>
										<p></p>
									</div>
								</div>
								<div class="col-xl-3 col-lg-4 col-md-6">
									<div class="feature-item mt-46">
										<div class="feature-icon">
											<i class="fa-solid fa-map-location-dot fa-2x"></i>
										</div>
										<h4>Trips &amp; Adventures</h4>
										<p></p>
									</div>
								</div>
								<div class="col-xl-3 col-lg-4 col-md-6">
									<div class="feature-item mt-46">
										<div class="feature-icon">
											<i class="fa-solid fa-heart-pulse fa-2x"></i>
										</div>
										<h4>Medical &amp; Health</h4>
										<p></p>
									</div>
								</div>
								<div class="col-xl-3 col-lg-4 col-md-6">
									<div class="feature-item mt-46">
										<div class="feature-icon">
											<i class="fa-solid fa-calendar-day fa-2x"></i>
										</div>
										<h4>Fun &amp; Special Events</h4>
										<p></p>
									</div>
								</div>
								<div class="col-xl-3 col-lg-4 col-md-6">
									<div class="feature-item mt-46">
										<div class="feature-icon">
											<i class="fa-solid fa-peace fa-2x"></i>
										</div>
										<h4>Religious Organizations</h4>
										<p></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

